# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# OS files
.DS_Store

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test output
*.log

# Gradio cache
gradio_cached_examples/
